# Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# OS
.DS_Store

# Streamlit
.streamlit/secrets.toml

.bootstrap/
.python/
.pytest_cache/
.ruff_cache/
data/
.env.*
!.env.example
